sgl.xcodeproj/xcuserdata
sgl.xcodeproj/project.xcworkspace/xcuserdata
.DS_Store
.idea
Sample/Sample.xcodeproj/xcuserdata
Sample/Sample.xcodeproj/project.xcworkspace/xcuserdata
sgl/sgl.xcodeproj/xcuserdata
sgl/sgl.xcodeproj/project.xcworkspace/xcuserdata
sgl-frameworks/sgl-frameworks.xcodeproj/xcuserdata
sgl-frameworks/sgl-frameworks.xcodeproj/project.xcworkspace/xcuserdata
